/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    
       /*===menu part start===*/
        .navbar-brand img{
        padding-left: 50px;
    }
    
        .navbar-nav{
    display: none;
}

        .navbar-nav .nav-item{
    padding-left: 25px;
}

        .navbar-nav .nav-item .nav-link{
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
}
/*===menu part end===*/
/*----------------------------------------------------------------------------------------*/
/*===banner part start===*/
    
        .banner{
   height: 768px;
    width: 100%;
    position: relative;
}

.ban_img img{
    display: none;
}

.ban_con{
    margin-left: 170px;
}

.ban_con h3{
    font-family:'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding: 170px 0px 0px 15px;
}

.ban_con p{
    font-family:'Questrial', sans-serif ;
    font-size: 14px;
    padding: 20px 0px 30px 15px;
    font-weight: 400;
}
/*===banner part end===*/
/*    -------------------------------------------------------------------------------------*/
    
/*    ===I do part start===*/
    
    .work{
    position: relative;
}

.side_image{
    position: absolute;
    top: -100px;
    left: -120px;
}


.totted img{
    display: none;
}


.totted2 img{
    display: none;
}

.i_do_tittle h3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding-top: 140px;
    padding-bottom: 48px;
    padding-left: 200px;
}

.images{
    padding-bottom: 65px;
}

.texts h4{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding-left: 100px;
    padding-top: 60px;
    text-align: right;
}

.texts p{
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding-top: 10px;
    text-align: right;
}
    
    .texts2 h4{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding-left: 100px;
    padding-top: 60px;
    text-align: left;
}
    
    .texts2 p{
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding-top: 10px;
    text-align: left;
    }
    
/*    ===I do part end===*/

}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { ... }










/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    
    /*===menu part start===*/
        .navbar-brand img{
        padding-left: 50px;
    }
    
        .navbar-nav{
    padding-left: 0px;
}

        .navbar-nav .nav-item{
    padding-left: 25px;
}

        .navbar-nav .nav-item .nav-link{
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
}
/*===menu part end===*/
/*----------------------------------------------------------------------------------------*/
/*===banner part start===*/
    
        .banner{
   height: 768px;
    width: 100%;
    position: relative;
            text-align: center;
}

.ban_img img{
    display: none;
}

.ban_con{
    margin-left:0px;
}

.ban_con h3{
    font-family:'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding: 170px 0px 0px 15px;
}

.ban_con p{
    font-family:'Questrial', sans-serif ;
    font-size: 14px;
    padding: 20px 0px 30px 15px;
    font-weight: 400;
}
    
.ban_icon{
    padding-top: 80px;
}

.ban_icon a{
    padding: 25px;
    color: #3F3D56;
    font-size: 25px;
}
/*===banner part end===*/
/*    -------------------------------------------------------------------------------------*/
    
/*    ===I do part start===*/
    
    .work{
    position: relative;
}

.side_image{
    position: absolute;
    top: -100px;
    left: -120px;
}


.totted img{
    display: none;
}


.totted2 img{
    display: none;
}

.i_do_tittle h3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding-top: 140px;
    padding-bottom: 48px;
/*    padding-left: 200px;*/
}

.images{
    padding-bottom: 65px;
}

.texts h4{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding-left: 100px;
    padding-top: 60px;
    text-align: right;
}

.texts p{
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding-top: 10px;
    text-align: right;
}
    
    .texts2 h4{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding-left: 100px;
    padding-top: 60px;
    text-align: left;
}
    
    .texts2 p{
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding-top: 10px;
    text-align: left;
    }
    
/*    ===I do part end===*/
/*--------------------------------------------------------------------------------------------------------*/
    
/*===resent work part start===*/
    


.resent_work_side_image img{
    display: none;
}

.resent_work_side_image2 img{
    display: none;
}
/*===resent work part end===*/
/*    --------------------------------------------------------------------------------------------------*/
    
/*    ===last part start===*/
    
.last_part_text h3{
    font-family:'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    padding: 150px 0px 40px 0px;
}
    
.last_part_img img{
    display: none;
    
}
    
     
.last_part_side_image{
    position: absolute;
    top: 3250px;
    left: -120px;
}
    
.last_part_img2 img{
    display: block;
    padding-top: 180px;
}
/*    ===last part end===*/
    
    
}











/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

/*===menu part start===*/
        .navbar-brand img{
        padding-left: 130px;
    }
    
        .navbar-nav{
    padding-left: 0px;
}

        .navbar-nav .nav-item{
    padding-left: 25px;
}

        .navbar-nav .nav-item .nav-link{
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
}
/*===menu part end===*/
/*    ------------------------------------------------------------------------------------------------*/
/*    ====banner part start====*/
    
    .banner{
   height: 768px;
    width: 100%;
/*    position: relative;*/
}

.ban_img img{
    display: none;
}
    
.ban_img_laptop img{
    display: block;
    padding-top: 150px;
    width: 500px;
}

.ban_con{
    margin-left: 170px;
}

.ban_con h3{
    font-family:'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding: 170px 0px 0px 15px;
}

.ban_con p{
    font-family:'Questrial', sans-serif ;
    font-size: 14px;
    padding: 20px 0px 30px 15px;
    font-weight: 400;
}
/*    ====banner part end====*/
/*    ------------------------------------------------------------------------------------------*/
    
/*    ====I do part start===*/
    
    .big_box{
    position: relative;
}

.totted img{
    height: 220px;
    width: 500px;
    position: absolute;
    top: 470px;
    left: 230px;
    right: 0;
}


.totted2 img{
    position: absolute;
    height: 170px;
    width: 500px;
    top: 900px;
    left: 230px;
    right: 0;
}
/*    ====I do part end===*/
/*    ------------------------------------------------------------------------------------------*/
/*    ===recent work part start===*/
    

.resent_work_side_image img{
    display: none;
}

.resent_work_side_image2 img{
    display: none;
}

/*    ===recent work part end===*/
/*    -----------------------------------------------------------------------------------------*/
    
/*    ====last part start====*/
    
    .last_part_text h3{
    font-family:'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    padding: 300px 0px 40px 0px;
}

.btn_last_part span{
    background-color: #3F3D56;
    padding: 14px 40px;
    border-radius: 50px;
    color: #fff;
}

.last_part_icon{
    padding-top: 80px;
}

.last_part_icon a{
    padding-right: 25px;
    color: #3F3D56;
    font-size: 25px;
}


.last_part_img img{
    display: none;
    
}
    
.last_part_img2 img{
    display: block;
    padding-top: 300px;
}
    
.last_part_side_image{
    display: none;
}
/*    ====last part end====*/

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }